*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 20px;
}

.main-title{
  font-size: 24px;
  margin-bottom: 10px;
}

.sub-title{
  font-size: 20px;
  margin-bottom: 10px;
}

.btn-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-genre {
  border-radius: 10px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  background: #2427f5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 2px solid #000000;
  margin: 0 10px;
}

.btn-genre:hover {
  background: #090df5;
  text-decoration: none;
  cursor: pointer;
}

.music-icons{
  width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.song-div{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.song-div:hover{
  background-color: #2427f5;
  color: white;
  transition: 0.15s;
}

.song-cover{
  margin-bottom: 10px;
}

.song-image{
  width: 175px;
  height: 175px;
}

.song-name{
  font-size: 25px;
  font-weight: 900;
}