*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: auto;
}

.main-title{
  font-size: 24px;
  margin: 2rem 0;
}

.sub-title{
  font-size: 20px;
  margin-bottom: 10px;
}

.btn-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-genre {
  border-radius: 10px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  background: #2427f5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 2px solid #000000;
  margin: 0 10px;
}

.btn-genre:hover {
  background: #090df5;
  text-decoration: none;
  cursor: pointer;
}

.music-icons{
  width: 50vw;
  max-width: 1000px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.song-div{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  line-height: 1.5;
}

.song-div:hover{
  background-color: #2428f5ce;
  color: white;
  transition: 0.15s;
}

.song-cover{
  width: 250px;
  height: 250px;
}

.song-image{
  width: 100%;
  height: 100%;
}

.song-info{
  max-width: 55%;
}

.song-name{
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.yt-div{
  margin: 1rem 0;
}

.yt-text{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.yt{
  margin-left: 10px;
  margin-bottom: -18px;
  color: 	#FF0000;
}

.icons{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.icons i{
  margin: 0 2rem;
  color: black;
}

.icons i:hover{
  color: #2427f5;
}

.bottom-container{
  border-top: 2px solid black;
  height: 100px;
  width: 100%;
  margin-top: auto;
  padding: 1rem 0;
}

.footer-link{
  font-size: 1rem;
  display: inline-block;
}

.copyright{
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5rem;
}